<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<link rel='stylesheet' href='styles.css' type='text/css'>

<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
  <div>
    <button @click="startEffect">Start Effect</button>
    {{effectClass}}
    <div id="effect" :class='effectClass'></div>
  </div>
  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div :class="['cl1', 'cl2']">I got no class :(</div>
  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>
    User class input:
    <input type="text" v-model='userClass'>
    {{ userClass }}
    <div :class='userClass'></div>
  </div>
  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    Background (enter 'red', 'blue', or 'green')
    <input type="text" v-model='className'>
    Border (entre 'true' or 'false')
    <input type="text" v-model='border'>
    <div style="width: 20px; height: 20px;" :class="[className, { 'border': hasBorder }]"></div>
  </div>
  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>
    <input type="text" v-model="inputStyle">
    <div :style='{ border: inputStyle }'></div>
  </div>
  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button v-on:click="startProgress">Start Progress</button>
    <div :style="{height: '20px', width: percent + '%', backgroundColor: 'red', transition: '1s'}"></div>
  </div>
</div>

<script src='app.js'></script>