#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.cl1, .cl2 {
  border: 1px solid black;
}

.cl1 { 
  background-color: green;
  height: 20px;
}

.cl2 {
  width: 100px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.border {
  border: 1px solid black;
}